<section class="teacher-dash-actions is-nav-links" aria-label="Curriculum management tools">
  <a class="teacher-dash-action" href="{% url 'employees:it_support_curriculum_section' 'learning-management' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">LM</span>
    <span class="teacher-dash-action-copy">
      <strong>Learning management</strong>
      <span>Learning management</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_curriculum_section' 'e-learning-management' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">EL</span>
    <span class="teacher-dash-action-copy">
      <strong>E-learning management</strong>
      <span>E-learning management</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_curriculum_section' 'exam-management' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">EM</span>
    <span class="teacher-dash-action-copy">
      <strong>Assessment management</strong>
      <span>Assessment management</span>
    </span>
  </a>
</section>
