<section class="teacher-dash-actions is-nav-links" aria-label="E-learning management tools">
  <a class="teacher-dash-action" href="{% url 'employees:it_support_elearning_page' 'allocate-subjects' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">AS</span>
    <span class="teacher-dash-action-copy">
      <strong>Allocate subjects</strong>
      <span>Allocate subjects</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_elearning_page' 'timetable-generation' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">GE</span>
    <span class="teacher-dash-action-copy">
      <strong>Generate e-learning timetable</strong>
      <span>Generate e-learning timetable</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_elearning_page' 'attendance' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">EL</span>
    <span class="teacher-dash-action-copy">
      <strong>E-learning attendance</strong>
      <span>E-learning attendance</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_elearning_page' 'assessments' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">EL</span>
    <span class="teacher-dash-action-copy">
      <strong>E-learning assessments</strong>
      <span>E-learning assessments</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_elearning_page' 'learning-materials' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">PL</span>
    <span class="teacher-dash-action-copy">
      <strong>Public learning materials</strong>
      <span>Public learning materials</span>
    </span>
  </a>
</section>
