<section class="teacher-dash-actions is-nav-links" aria-label="Learning management tools">
  <a class="teacher-dash-action" href="{% url 'employees:it_support_learning_page' 'class-management' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">CM</span>
    <span class="teacher-dash-action-copy">
      <strong>Class management</strong>
      <span>Class management</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_learning_page' 'timetable-management' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">TM</span>
    <span class="teacher-dash-action-copy">
      <strong>Timetable management</strong>
      <span>Timetable management</span>
    </span>
  </a>
</section>
