<section class="teacher-dash-actions is-nav-links" aria-label="Report areas">
  <a class="teacher-dash-action" href="{% url 'employees:it_support_report_section' 'curriculum-reports' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">CR</span>
    <span class="teacher-dash-action-copy">
      <strong>Curriculum reports</strong>
      <span>Curriculum reports</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_report_section' 'financial-reports' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">FR</span>
    <span class="teacher-dash-action-copy">
      <strong>Financial reports</strong>
      <span>Financial reports</span>
    </span>
  </a>
  <a class="teacher-dash-action" href="{% url 'employees:it_support_report_section' 'store-reports' %}">
    <span class="teacher-dash-action-icon" aria-hidden="true">SR</span>
    <span class="teacher-dash-action-copy">
      <strong>Store reports</strong>
      <span>Store reports</span>
    </span>
  </a>
</section>
