<p class="workspace-nav-label">School profile</p>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_settings' %}">Basic identity</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_contact_location_settings' %}">Contact &amp; location</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_branding_settings' %}">Branding</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_leadership_settings' %}">Leadership &amp; structure</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_academic_setup_settings' %}">Academic setup</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_operations_settings' %}">Capacity &amp; operations</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_financial_settings' %}">Financial</a>
<a class="workspace-nav-link" href="{% url 'employees:school_profile_compliance_settings' %}">Compliance &amp; documents</a>
