{% extends "layouts/workspace.html" %}
{% load static %}
{% block title %}Curriculum Coordinator workspace | Edu-Centric{% endblock %}
{% block header_eyebrow %}Curriculum Coordinator{% endblock %}
{% block header_title %}Dashboard{% endblock %}

{% block sidebar_modules %}
{% include "employees/includes/curriculum_coordinator_sidebar.html" %}
{% endblock %}

{% block workspace_content %}
<div class="exam-tool-page curriculum-coordinator-dashboard">
  {% include "employees/includes/dashboard_school_activities.html" %}
  {% include "employees/includes/nav/curriculum_coordinator.html" %}
</div>
{% endblock %}

{% block workspace_scripts %}
<script src="{% static 'js/dashboard-school-activities.js' %}?v=20261009ux1" defer></script>
{% endblock %}
