{% extends "layouts/workspace.html" %}
{% block title %}IT Support workspace | Edu-Centric{% endblock %}
{% block header_eyebrow %}IT Support{% endblock %}
{% block header_title %}Dashboard{% endblock %}

{% block sidebar_modules %}
{% include "employees/includes/it_support_sidebar.html" %}
{% endblock %}

{% block workspace_content %}
<div class="exam-tool-page">
  <section class="teacher-dash-actions is-nav-links" aria-label="IT Support modules">
    {% for module in it_support_modules %}
    <a class="teacher-dash-action" href="{% url 'employees:it_support_module' module.slug %}">
      <span class="teacher-dash-action-icon" aria-hidden="true">{{ module.icon }}</span>
      <span class="teacher-dash-action-copy">
        <strong>{{ module.title }}</strong>
        <span>{{ module.summary }}</span>
      </span>
    </a>
    {% endfor %}
  </section>
</div>
{% endblock %}
