{% extends "layouts/workspace.html" %}
{% block title %}Learning management | Edu-Centric{% endblock %}
{% block header_eyebrow %}Curriculum management{% endblock %}
{% block header_title %}Learning management{% endblock %}

{% block sidebar_modules %}
{% include "employees/includes/learning_management_sidebar.html" %}
{% endblock %}

{% block workspace_content %}
<div class="exam-tool-page">
  <section class="teacher-dash-actions is-nav-links" aria-label="Learning management tools">
    {% for page in learning_pages %}
    <a class="teacher-dash-action" href="{% url 'employees:it_support_learning_page' page.slug %}">
      <span class="teacher-dash-action-icon" aria-hidden="true">{{ page.icon }}</span>
      <span class="teacher-dash-action-copy">
        <strong>{{ page.title }}</strong>
        <span>{{ page.summary }}</span>
      </span>
    </a>
    {% endfor %}
  </section>
</div>
{% endblock %}
